# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_NRF54L15PDK_NRF54L15_CPUAPP

config BOARD
	default "nrf54l15pdk_nrf54l15_cpuapp"

endif # BOARD_NRF54L15PDK_NRF54L15_CPUAPP

config BT_CTLR
	default BT

# MPU-based null-pointer dereferencing detection cannot
# be applied as the (0x0 - 0x400) is unmapped for this target.
choice NULL_POINTER_EXCEPTION_DETECTION
	bool
	default NULL_POINTER_EXCEPTION_DETECTION_NONE
endchoice
